In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [26]:
company2013 = pd.read_csv('./data/사업체현황(2011-2013).csv')

In [30]:
company2013.head(15)

   동별(1) 동별(2) 동별(3)  조직형태별(1) 조직형태별(2) 조직형태별(3)     2011     2012     2013
0     합계    소계    소계        합계     사업체수     사업체수   752285   780887   785094
1     합계    소계    소계        합계     종사자수       소계  4498312  4541393  4585090
2     합계    소계    소계        합계     종사자수        남  2619082  2610834  2606372
3     합계    소계    소계        합계     종사자수        여  1879230  1930559  1978718
4     합계    소계    소계        개인     사업체수       소계   604389   619626   618048
5     합계    소계    소계        개인     종사자수       소계  1471147  1506099  1491905
6     합계    소계    소계      회사법인     사업체수       소계   114664   125895   129607
7     합계    소계    소계      회사법인     종사자수       소계  2341566  2328409  2351002
8     합계    소계    소계  회사이외의 법인     사업체수       소계    13772    14655    16039
9     합계    소계    소계  회사이외의 법인     종사자수       소계   587664   605658   631132
10    합계    소계    소계     비법인단체     사업체수       소계    19460    20711    21400
11    합계    소계    소계     비법인단체     종사자수       소계    97935   101227   111051
12    합계   종로구    소계        합계     사업체수     사업체수    38635    39486    39326
13    합계   종로구    소계        합계     종사자수       소계   232685   232857   235681
14    합계   종로구    소계        합계     종사자수        남   134768   132777   132534

In [39]:
company2013 = company2013.where((company2013['동별(3)'] == '소계') & (company2013['조직형태별(1)'] == '합계') & (company2013['조직형태별(3)'] == '사업체수')).dropna()

In [44]:
company2013.drop(company2013.index[0], inplace = True)

In [48]:
company2013 = company2013[['동별(2)', '2011', '2012', '2013']]

In [50]:
company2013.reset_index(inplace=True)

In [52]:
company2013.drop('index', axis = 1, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_17328\1714747985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company2013.drop('index', axis = 1, inplace = True)

In [65]:
company2013.rename(columns = {'동별(2)':'구'}, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_17328\2550416619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company2013.rename(columns = {'동별(2)':'구'}, inplace = True)

In [66]:
company2013

       구   2011   2012   2013
0    종로구  38635  39486  39326
1     중구  59567  64307  64846
2    용산구  19392  20004  20067
3    성동구  23300  24250  24803
4    광진구  24607  24828  24676
5   동대문구  30130  31881  31972
6    중랑구  26992  27289  27490
7    성북구  24674  25061  25074
8    강북구  19404  19485  19248
9    도봉구  17659  17893  17713
10   노원구  25636  24864  25173
11   은평구  23055  23325  23953
12  서대문구  18116  18653  19211
13   마포구  30420  32053  32793
14   양천구  25275  25750  25720
15   강서구  31069  31596  32021
16   구로구  33784  35523  35352
17   금천구  26092  27651  28406
18  영등포구  40594  42157  42151
19   동작구  19895  20022  20035
20   관악구  25956  26294  26309
21   서초구  38535  42602  42882
22   강남구  57987  62448  62614
23   송파구  42778  43771  43503
24   강동구  28733  29694  29756

In [69]:
company2013.to_csv('./data/사업체수2013.csv')

In [54]:
worker2013 = pd.read_csv('./data/사업체현황(2011-2013).csv')

In [56]:
worker2013.head(15)

   동별(1) 동별(2) 동별(3)  조직형태별(1) 조직형태별(2) 조직형태별(3)     2011     2012     2013
0     합계    소계    소계        합계     사업체수     사업체수   752285   780887   785094
1     합계    소계    소계        합계     종사자수       소계  4498312  4541393  4585090
2     합계    소계    소계        합계     종사자수        남  2619082  2610834  2606372
3     합계    소계    소계        합계     종사자수        여  1879230  1930559  1978718
4     합계    소계    소계        개인     사업체수       소계   604389   619626   618048
5     합계    소계    소계        개인     종사자수       소계  1471147  1506099  1491905
6     합계    소계    소계      회사법인     사업체수       소계   114664   125895   129607
7     합계    소계    소계      회사법인     종사자수       소계  2341566  2328409  2351002
8     합계    소계    소계  회사이외의 법인     사업체수       소계    13772    14655    16039
9     합계    소계    소계  회사이외의 법인     종사자수       소계   587664   605658   631132
10    합계    소계    소계     비법인단체     사업체수       소계    19460    20711    21400
11    합계    소계    소계     비법인단체     종사자수       소계    97935   101227   111051
12    합계   종로구    소계        합계     사업체수     사업체수    38635    39486    39326
13    합계   종로구    소계        합계     종사자수       소계   232685   232857   235681
14    합계   종로구    소계        합계     종사자수        남   134768   132777   132534

In [58]:
worker2013 = worker2013.where((worker2013['동별(3)'] == '소계') & (worker2013['조직형태별(1)'] == '합계') & (worker2013['조직형태별(2)'] == '종사자수') & (worker2013['조직형태별(3)'] == '소계')).dropna()

In [59]:
worker2013

     동별(1) 동별(2) 동별(3) 조직형태별(1) 조직형태별(2) 조직형태별(3)     2011     2012     2013
1       합계    소계    소계       합계     종사자수       소계  4498312  4541393  4585090
13      합계   종로구    소계       합계     종사자수       소계   232685   232857   235681
241     합계    중구    소계       합계     종사자수       소계   371861   386637   370070
493     합계   용산구    소계       합계     종사자수       소계   126714   120441   127151
697     합계   성동구    소계       합계     종사자수       소계   134727   139994   143803
913     합계   광진구    소계       합계     종사자수       소계   116300   117652   119965
1105    합계  동대문구    소계       합계     종사자수       소계   129592   132397   132100
1285    합계   중랑구    소계       합계     종사자수       소계    92326    96613    96038
1489    합계   성북구    소계       합계     종사자수       소계   101472   103054   108141
1741    합계   강북구    소계       합계     종사자수       소계    68217    69508    69468
1909    합계   도봉구    소계       합계     종사자수       소계    62791    62820    63936
2089    합계   노원구    소계       합계     종사자수       소계   103761   102327   104525
2329    합계   은평구    소계       합계     종사자수       소계    78623    80672    83203
2533    합계  서대문구    소계       합계     종사자수       소계    94280    97686    98666
2713    합계   마포구    소계       합계     종사자수       소계   201682   212720   214621
2917    합계   양천구    소계       합계     종사자수       소계   107890   108802   109999
3145    합계   강서구    소계       합계     종사자수       소계   163250   168783   178281
3397    합계   구로구    소계       합계     종사자수       소계   180377   190692   193660
3589    합계   금천구    소계       합계     종사자수       소계   198094   198565   203455
3721    합계  영등포구    소계       합계     종사자수       소계   325207   335678   337027
3949    합계   동작구    소계       합계     종사자수       소계   100296    99628   108007
4141    합계   관악구    소계       합계     종사자수       소계   108511   109069   109055
4405    합계   서초구    소계       합계     종사자수       소계   394802   376962   373954
4633    합계   강남구    소계       합계     종사자수       소계   635129   611206   617340
4909    합계   송파구    소계       합계     종사자수       소계   254120   257200   253215
5233    합계   강동구    소계       합계     종사자수       소계   115605   129430   133729

In [60]:
worker2013.drop(worker2013.index[0], inplace = True)

In [61]:
worker2013 = worker2013[['동별(2)', '2011', '2012', '2013']]

In [62]:
worker2013.reset_index(inplace=True)

In [63]:
worker2013.drop('index', axis = 1, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_17328\3884362282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013.drop('index', axis = 1, inplace = True)

In [67]:
worker2013.rename(columns = {'동별(2)':'구'}, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_17328\3325361898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013.rename(columns = {'동별(2)':'구'}, inplace = True)

In [68]:
worker2013

       구    2011    2012    2013
0    종로구  232685  232857  235681
1     중구  371861  386637  370070
2    용산구  126714  120441  127151
3    성동구  134727  139994  143803
4    광진구  116300  117652  119965
5   동대문구  129592  132397  132100
6    중랑구   92326   96613   96038
7    성북구  101472  103054  108141
8    강북구   68217   69508   69468
9    도봉구   62791   62820   63936
10   노원구  103761  102327  104525
11   은평구   78623   80672   83203
12  서대문구   94280   97686   98666
13   마포구  201682  212720  214621
14   양천구  107890  108802  109999
15   강서구  163250  168783  178281
16   구로구  180377  190692  193660
17   금천구  198094  198565  203455
18  영등포구  325207  335678  337027
19   동작구  100296   99628  108007
20   관악구  108511  109069  109055
21   서초구  394802  376962  373954
22   강남구  635129  611206  617340
23   송파구  254120  257200  253215
24   강동구  115605  129430  133729

In [70]:
worker2013.to_csv('./data/종사자수2013.csv')