In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
company1 = pd.read_csv('./data/사업체수2013.csv')
company2 = pd.read_csv('./data/사업체수2016.csv')
company3 = pd.read_csv('./data/사업체수2019.csv')

In [4]:
company1.head()

   Unnamed: 0    구   2011   2012   2013
0           0  종로구  38635  39486  39326
1           1   중구  59567  64307  64846
2           2  용산구  19392  20004  20067
3           3  성동구  23300  24250  24803
4           4  광진구  24607  24828  24676

In [5]:
company2.head()

   Unnamed: 0    구   2014   2015   2016
0           0  종로구  40923  40871  40664
1           1   중구  65364  66190  63640
2           2  용산구  20482  21178  20994
3           3  성동구  25714  26130  26581
4           4  광진구  24760  24531  24895

In [6]:
company3.head()

   Unnamed: 0    구   2017   2018   2019
0           0  종로구  40490  39952  39679
1           1   중구  62936  60957  60127
2           2  용산구  20806  20813  20254
3           3  성동구  27278  27868  28343
4           4  광진구  24688  24535  24445

In [10]:
company12 = pd.merge(company1, company2)

In [12]:
company = pd.merge(company12, company3)
company

,Unnamed: 0,구,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,종로구,38635,39486,39326,40923,40871,40664,40490,39952,39679
1,1,중구,59567,64307,64846,65364,66190,63640,62936,60957,60127
2,2,용산구,19392,20004,20067,20482,21178,20994,20806,20813,20254
3,3,성동구,23300,24250,24803,25714,26130,26581,27278,27868,28343
4,4,광진구,24607,24828,24676,24760,24531,24895,24688,24535,24445
5,5,동대문구,30130,31881,31972,32878,32994,32762,32411,31878,31324
6,6,중랑구,26992,27289,27490,28047,27287,27915,28045,28024,28228
7,7,성북구,24674,25061,25074,25104,24690,24560,24039,23287,23617
8,8,강북구,19404,19485,19248,19223,18654,18742,18928,18918,19014
9,9,도봉구,17659,17893,17713,18584,18455,18686,18351,18894,18628
10,10,노원구,25636,24864,25173,26081,25827,26271,26516,26616,26618
11,11,은평구,23055,23325,23953,24269,24179,24615,24561,24873,24681
12,12,서대문구,18116,18653,19211,19454,19612,19540,19852,19796,20095
13,13,마포구,30420,32053,32793,35070,36504,36191,36325,37232,37290
14,14,양천구,25275,25750,25720,26189,26297,26108,26077,26126,25894
15,15,강서구,31069,31596,32021,32789,33273,34662,36556,38524,39458
16,16,구로구,33784,35523,35352,36679,37445,38033,38405,38553,38756
17,17,금천구,26092,27651,28406,29557,30080,30987,31750,32472,33814
18,18,영등포구,40594,42157,42151,44099,44512,43678,43163,42589,42370
19,19,동작구,19895,20022,20035,20160,19609,19747,19966,19916,19793
20,20,관악구,25956,26294,26309,26396,26235,26377,26374,26105,25505
21,21,서초구,38535,42602,42882,45932,47061,46404,46207,46540,46940
22,22,강남구,57987,62448,62614,70262,73590,72281,72511,71373,71027
23,23,송파구,42778,43771,43503,44301,45375,45555,46676,47772,48644
24,24,강동구,28733,29694,29756,30481,30079,30268,29952,29772,29080

In [13]:
company.drop('Unnamed: 0', axis = 1, inplace = True)

In [14]:
company

       구   2011   2012   2013   2014   2015   2016   2017   2018   2019
0    종로구  38635  39486  39326  40923  40871  40664  40490  39952  39679
1     중구  59567  64307  64846  65364  66190  63640  62936  60957  60127
2    용산구  19392  20004  20067  20482  21178  20994  20806  20813  20254
3    성동구  23300  24250  24803  25714  26130  26581  27278  27868  28343
4    광진구  24607  24828  24676  24760  24531  24895  24688  24535  24445
5   동대문구  30130  31881  31972  32878  32994  32762  32411  31878  31324
6    중랑구  26992  27289  27490  28047  27287  27915  28045  28024  28228
7    성북구  24674  25061  25074  25104  24690  24560  24039  23287  23617
8    강북구  19404  19485  19248  19223  18654  18742  18928  18918  19014
9    도봉구  17659  17893  17713  18584  18455  18686  18351  18894  18628
10   노원구  25636  24864  25173  26081  25827  26271  26516  26616  26618
11   은평구  23055  23325  23953  24269  24179  24615  24561  24873  24681
12  서대문구  18116  18653  19211  19454  19612  19540  19852  19796  20095
13   마포구  30420  32053  32793  35070  36504  36191  36325  37232  37290
14   양천구  25275  25750  25720  26189  26297  26108  26077  26126  25894
15   강서구  31069  31596  32021  32789  33273  34662  36556  38524  39458
16   구로구  33784  35523  35352  36679  37445  38033  38405  38553  38756
17   금천구  26092  27651  28406  29557  30080  30987  31750  32472  33814
18  영등포구  40594  42157  42151  44099  44512  43678  43163  42589  42370
19   동작구  19895  20022  20035  20160  19609  19747  19966  19916  19793
20   관악구  25956  26294  26309  26396  26235  26377  26374  26105  25505
21   서초구  38535  42602  42882  45932  47061  46404  46207  46540  46940
22   강남구  57987  62448  62614  70262  73590  72281  72511  71373  71027
23   송파구  42778  43771  43503  44301  45375  45555  46676  47772  48644
24   강동구  28733  29694  29756  30481  30079  30268  29952  29772  29080

In [15]:
company.to_csv('./data/사업체수(2011-2019).csv')