In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
company2013 = pd.read_csv('./data/사업체현황(2017-2019).csv')

In [4]:
company2013.head(15)

   동별(1) 동별(2) 동별(3)  조직형태별(1) 조직형태별(2) 조직형태별(3)     2017     2018     2019
0     합계    소계    소계        합계     사업체수     사업체수   822863   823385   823624
1     합계    소계    소계        합계     종사자수       소계  5119913  5210936  5226997
2     합계    소계    소계        합계     종사자수        남  2848150  2878227  2885614
3     합계    소계    소계        합계     종사자수        여  2271763  2332709  2341383
4     합계    소계    소계        개인     사업체수       소계   628981   624869   618188
5     합계    소계    소계        개인     종사자수       소계  1582451  1573654  1558442
6     합계    소계    소계      회사법인     사업체수       소계   153609   156768   162552
7     합계    소계    소계      회사법인     종사자수       소계  2730632  2792680  2783660
8     합계    소계    소계  회사이외의 법인     사업체수       소계    19458    20498    21407
9     합계    소계    소계  회사이외의 법인     종사자수       소계   681386   708244   737895
10    합계    소계    소계     비법인단체     사업체수       소계    20815    21250    21477
11    합계    소계    소계     비법인단체     종사자수       소계   125444   136358   147000
12    합계   종로구    소계        합계     사업체수     사업체수    40490    39952    39679
13    합계   종로구    소계        합계     종사자수       소계   268702   265017   260446
14    합계   종로구    소계        합계     종사자수        남   154100   152717   146392

In [5]:
company2013 = company2013.where((company2013['동별(3)'] == '소계') & (company2013['조직형태별(1)'] == '합계') & (company2013['조직형태별(3)'] == '사업체수')).dropna()

In [6]:
company2013.drop(company2013.index[0], inplace = True)

In [7]:
company2013 = company2013[['동별(2)', '2017', '2018', '2019']]

In [8]:
company2013.reset_index(inplace=True)

In [9]:
company2013.drop('index', axis = 1, inplace = True)

In [10]:
company2013.rename(columns = {'동별(2)':'구'}, inplace = True)

In [12]:
company2013['2017'] = company2013['2017'].astype(int)
company2013['2018'] = company2013['2018'].astype(int)
company2013['2019'] = company2013['2019'].astype(int)

In [13]:
company2013

       구   2017   2018   2019
0    종로구  40490  39952  39679
1     중구  62936  60957  60127
2    용산구  20806  20813  20254
3    성동구  27278  27868  28343
4    광진구  24688  24535  24445
5   동대문구  32411  31878  31324
6    중랑구  28045  28024  28228
7    성북구  24039  23287  23617
8    강북구  18928  18918  19014
9    도봉구  18351  18894  18628
10   노원구  26516  26616  26618
11   은평구  24561  24873  24681
12  서대문구  19852  19796  20095
13   마포구  36325  37232  37290
14   양천구  26077  26126  25894
15   강서구  36556  38524  39458
16   구로구  38405  38553  38756
17   금천구  31750  32472  33814
18  영등포구  43163  42589  42370
19   동작구  19966  19916  19793
20   관악구  26374  26105  25505
21   서초구  46207  46540  46940
22   강남구  72511  71373  71027
23   송파구  46676  47772  48644
24   강동구  29952  29772  29080

In [14]:
company2013.to_csv('./data/사업체수2019.csv')

In [15]:
worker2013 = pd.read_csv('./data/사업체현황(2017-2019).csv')

In [16]:
worker2013.head(15)

   동별(1) 동별(2) 동별(3)  조직형태별(1) 조직형태별(2) 조직형태별(3)     2017     2018     2019
0     합계    소계    소계        합계     사업체수     사업체수   822863   823385   823624
1     합계    소계    소계        합계     종사자수       소계  5119913  5210936  5226997
2     합계    소계    소계        합계     종사자수        남  2848150  2878227  2885614
3     합계    소계    소계        합계     종사자수        여  2271763  2332709  2341383
4     합계    소계    소계        개인     사업체수       소계   628981   624869   618188
5     합계    소계    소계        개인     종사자수       소계  1582451  1573654  1558442
6     합계    소계    소계      회사법인     사업체수       소계   153609   156768   162552
7     합계    소계    소계      회사법인     종사자수       소계  2730632  2792680  2783660
8     합계    소계    소계  회사이외의 법인     사업체수       소계    19458    20498    21407
9     합계    소계    소계  회사이외의 법인     종사자수       소계   681386   708244   737895
10    합계    소계    소계     비법인단체     사업체수       소계    20815    21250    21477
11    합계    소계    소계     비법인단체     종사자수       소계   125444   136358   147000
12    합계   종로구    소계        합계     사업체수     사업체수    40490    39952    39679
13    합계   종로구    소계        합계     종사자수       소계   268702   265017   260446
14    합계   종로구    소계        합계     종사자수        남   154100   152717   146392

In [17]:
worker2013 = worker2013.where((worker2013['동별(3)'] == '소계') & (worker2013['조직형태별(1)'] == '합계') & (worker2013['조직형태별(2)'] == '종사자수') & (worker2013['조직형태별(3)'] == '소계')).dropna()

In [18]:
worker2013

,동별(1),동별(2),동별(3),조직형태별(1),조직형태별(2),조직형태별(3),2017,2018,2019
1,합계,소계,소계,합계,종사자수,소계,5119913.0,5210936.0,5226997.0
13,합계,종로구,소계,합계,종사자수,소계,268702.0,265017.0,260446.0
229,합계,중구,소계,합계,종사자수,소계,386648.0,390530.0,392568.0
421,합계,용산구,소계,합계,종사자수,소계,133260.0,141216.0,135240.0
625,합계,성동구,소계,합계,종사자수,소계,167308.0,174819.0,178243.0
841,합계,광진구,소계,합계,종사자수,소계,125170.0,127879.0,126305.0
1033,합계,동대문구,소계,합계,종사자수,소계,142842.0,140748.0,138400.0
1213,합계,중랑구,소계,합계,종사자수,소계,102758.0,103016.0,103345.0
1417,합계,성북구,소계,합계,종사자수,소계,108991.0,108201.0,111005.0
1669,합계,강북구,소계,합계,종사자수,소계,71752.0,72418.0,73904.0
1837,합계,도봉구,소계,합계,종사자수,소계,70503.0,74314.0,72939.0
2017,합계,노원구,소계,합계,종사자수,소계,117859.0,118713.0,116684.0
2257,합계,은평구,소계,합계,종사자수,소계,88818.0,90049.0,93631.0
2461,합계,서대문구,소계,합계,종사자수,소계,111117.0,109490.0,113819.0
2641,합계,마포구,소계,합계,종사자수,소계,247999.0,255152.0,247276.0
2845,합계,양천구,소계,합계,종사자수,소계,119943.0,123311.0,121582.0
3073,합계,강서구,소계,합계,종사자수,소계,234394.0,248204.0,257494.0
3325,합계,구로구,소계,합계,종사자수,소계,213468.0,218070.0,225668.0
3517,합계,금천구,소계,합계,종사자수,소계,228000.0,234012.0,242686.0
3649,합계,영등포구,소계,합계,종사자수,소계,362800.0,367557.0,373478.0
3877,합계,동작구,소계,합계,종사자수,소계,110422.0,112564.0,106159.0
4069,합계,관악구,소계,합계,종사자수,소계,115390.0,113944.0,115329.0
4333,합계,서초구,소계,합계,종사자수,소계,436763.0,438733.0,438985.0
4561,합계,강남구,소계,합계,종사자수,소계,679047.0,694136.0,698840.0
4837,합계,송파구,소계,합계,종사자수,소계,329447.0,342853.0,341201.0
5173,합계,강동구,소계,합계,종사자수,소계,146512.0,145990.0,141770.0

In [19]:
worker2013.drop(worker2013.index[0], inplace = True)

In [20]:
worker2013 = worker2013[['동별(2)', '2017', '2018', '2019']]

In [21]:
worker2013.reset_index(inplace=True)

In [22]:
worker2013.drop('index', axis = 1, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_18936\3884362282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013.drop('index', axis = 1, inplace = True)

In [23]:
worker2013.rename(columns = {'동별(2)':'구'}, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_18936\3325361898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013.rename(columns = {'동별(2)':'구'}, inplace = True)

In [25]:
worker2013['2017'] = worker2013['2017'].astype(int)
worker2013['2018'] = worker2013['2018'].astype(int)
worker2013['2019'] = worker2013['2019'].astype(int)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_18936\1849293278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013['2017'] = worker2013['2017'].astype(int)
C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_18936\1849293278.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013['2018'] = worker2013['2018'].astype(int)
C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_18936\1849293278.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013['2019'] = worker2013['2019'].astype(int)

In [26]:
worker2013

       구    2017    2018    2019
0    종로구  268702  265017  260446
1     중구  386648  390530  392568
2    용산구  133260  141216  135240
3    성동구  167308  174819  178243
4    광진구  125170  127879  126305
5   동대문구  142842  140748  138400
6    중랑구  102758  103016  103345
7    성북구  108991  108201  111005
8    강북구   71752   72418   73904
9    도봉구   70503   74314   72939
10   노원구  117859  118713  116684
11   은평구   88818   90049   93631
12  서대문구  111117  109490  113819
13   마포구  247999  255152  247276
14   양천구  119943  123311  121582
15   강서구  234394  248204  257494
16   구로구  213468  218070  225668
17   금천구  228000  234012  242686
18  영등포구  362800  367557  373478
19   동작구  110422  112564  106159
20   관악구  115390  113944  115329
21   서초구  436763  438733  438985
22   강남구  679047  694136  698840
23   송파구  329447  342853  341201
24   강동구  146512  145990  141770

In [27]:
worker2013.to_csv('./data/종사자수2019.csv')