In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
company2013 = pd.read_csv('./data/사업체현황(2014-2016).csv')

In [4]:
company2013.head(15)

   동별(1) 동별(2) 동별(3)  조직형태별(1) 조직형태별(2) 조직형태별(3)     2014     2015     2016
0     합계    소계    소계        합계     사업체수     사업체수   812798   820658   820156
1     합계    소계    소계        합계     종사자수       소계  4739883  5108828  5079451
2     합계    소계    소계        합계     종사자수        남  2679567  2887719  2847402
3     합계    소계    소계        합계     종사자수        여  2060316  2221109  2232049
4     합계    소계    소계        개인     사업체수       소계   628077   631635   631779
5     합계    소계    소계        개인     종사자수       소계  1538324  1585519  1573964
6     합계    소계    소계      회사법인     사업체수       소계   145456   150004   149198
7     합계    소계    소계      회사법인     종사자수       소계  2445582  2731540  2707718
8     합계    소계    소계  회사이외의 법인     사업체수       소계    17970    18791    19078
9     합계    소계    소계  회사이외의 법인     종사자수       소계   638081   676175   682454
10    합계    소계    소계     비법인단체     사업체수       소계    21295    20228    20101
11    합계    소계    소계     비법인단체     종사자수       소계   117896   115594   115315
12    합계   종로구    소계        합계     사업체수     사업체수    40923    40871    40664
13    합계   종로구    소계        합계     종사자수       소계   245698   269106   268309
14    합계   종로구    소계        합계     종사자수        남   141165   152766   154334

In [5]:
company2013 = company2013.where((company2013['동별(3)'] == '소계') & (company2013['조직형태별(1)'] == '합계') & (company2013['조직형태별(3)'] == '사업체수')).dropna()

In [6]:
company2013.drop(company2013.index[0], inplace = True)

In [8]:
company2013 = company2013[['동별(2)', '2014', '2015', '2016']]

In [9]:
company2013.reset_index(inplace=True)

In [10]:
company2013.drop('index', axis = 1, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_11652\1714747985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company2013.drop('index', axis = 1, inplace = True)

In [11]:
company2013.rename(columns = {'동별(2)':'구'}, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_11652\2550416619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company2013.rename(columns = {'동별(2)':'구'}, inplace = True)

In [19]:
company2013['2014'] = company2013['2014'].astype(int)
company2013['2015'] = company2013['2015'].astype(int)
company2013['2016'] = company2013['2016'].astype(int)

In [20]:
company2013

       구   2014   2015   2016
0    종로구  40923  40871  40664
1     중구  65364  66190  63640
2    용산구  20482  21178  20994
3    성동구  25714  26130  26581
4    광진구  24760  24531  24895
5   동대문구  32878  32994  32762
6    중랑구  28047  27287  27915
7    성북구  25104  24690  24560
8    강북구  19223  18654  18742
9    도봉구  18584  18455  18686
10   노원구  26081  25827  26271
11   은평구  24269  24179  24615
12  서대문구  19454  19612  19540
13   마포구  35070  36504  36191
14   양천구  26189  26297  26108
15   강서구  32789  33273  34662
16   구로구  36679  37445  38033
17   금천구  29557  30080  30987
18  영등포구  44099  44512  43678
19   동작구  20160  19609  19747
20   관악구  26396  26235  26377
21   서초구  45932  47061  46404
22   강남구  70262  73590  72281
23   송파구  44301  45375  45555
24   강동구  30481  30079  30268

In [21]:
company2013.to_csv('./data/사업체수2016.csv')

In [22]:
worker2013 = pd.read_csv('./data/사업체현황(2014-2016).csv')

In [23]:
worker2013.head(15)

   동별(1) 동별(2) 동별(3)  조직형태별(1) 조직형태별(2) 조직형태별(3)     2014     2015     2016
0     합계    소계    소계        합계     사업체수     사업체수   812798   820658   820156
1     합계    소계    소계        합계     종사자수       소계  4739883  5108828  5079451
2     합계    소계    소계        합계     종사자수        남  2679567  2887719  2847402
3     합계    소계    소계        합계     종사자수        여  2060316  2221109  2232049
4     합계    소계    소계        개인     사업체수       소계   628077   631635   631779
5     합계    소계    소계        개인     종사자수       소계  1538324  1585519  1573964
6     합계    소계    소계      회사법인     사업체수       소계   145456   150004   149198
7     합계    소계    소계      회사법인     종사자수       소계  2445582  2731540  2707718
8     합계    소계    소계  회사이외의 법인     사업체수       소계    17970    18791    19078
9     합계    소계    소계  회사이외의 법인     종사자수       소계   638081   676175   682454
10    합계    소계    소계     비법인단체     사업체수       소계    21295    20228    20101
11    합계    소계    소계     비법인단체     종사자수       소계   117896   115594   115315
12    합계   종로구    소계        합계     사업체수     사업체수    40923    40871    40664
13    합계   종로구    소계        합계     종사자수       소계   245698   269106   268309
14    합계   종로구    소계        합계     종사자수        남   141165   152766   154334

In [24]:
worker2013 = worker2013.where((worker2013['동별(3)'] == '소계') & (worker2013['조직형태별(1)'] == '합계') & (worker2013['조직형태별(2)'] == '종사자수') & (worker2013['조직형태별(3)'] == '소계')).dropna()

In [25]:
worker2013

,동별(1),동별(2),동별(3),조직형태별(1),조직형태별(2),조직형태별(3),2014,2015,2016
1,합계,소계,소계,합계,종사자수,소계,4739883,5108828.0,5079451.0
13,합계,종로구,소계,합계,종사자수,소계,245698,269106.0,268309.0
229,합계,중구,소계,합계,종사자수,소계,380407,423808.0,402892.0
421,합계,용산구,소계,합계,종사자수,소계,126073,133446.0,129033.0
625,합계,성동구,소계,합계,종사자수,소계,152831,162019.0,165047.0
841,합계,광진구,소계,합계,종사자수,소계,117420,123689.0,126937.0
1033,합계,동대문구,소계,합계,종사자수,소계,137079,143858.0,144172.0
1213,합계,중랑구,소계,합계,종사자수,소계,99712,99241.0,101190.0
1417,합계,성북구,소계,합계,종사자수,소계,107496,113893.0,111442.0
1669,합계,강북구,소계,합계,종사자수,소계,70919,69787.0,69768.0
1837,합계,도봉구,소계,합계,종사자수,소계,66137,68669.0,70166.0
2017,합계,노원구,소계,합계,종사자수,소계,109272,114736.0,114999.0
2257,합계,은평구,소계,합계,종사자수,소계,84489,87693.0,90203.0
2461,합계,서대문구,소계,합계,종사자수,소계,102163,111615.0,113979.0
2641,합계,마포구,소계,합계,종사자수,소계,227966,252534.0,250605.0
2845,합계,양천구,소계,합계,종사자수,소계,114617,119443.0,117259.0
3073,합계,강서구,소계,합계,종사자수,소계,185361,199289.0,207406.0
3325,합계,구로구,소계,합계,종사자수,소계,197894,210506.0,211391.0
3517,합계,금천구,소계,합계,종사자수,소계,214128,223058.0,225578.0
3649,합계,영등포구,소계,합계,종사자수,소계,343943,362524.0,366625.0
3877,합계,동작구,소계,합계,종사자수,소계,105146,103915.0,108058.0
4069,합계,관악구,소계,합계,종사자수,소계,112223,119180.0,113781.0
4333,합계,서초구,소계,합계,종사자수,소계,390662,439963.0,427227.0
4561,합계,강남구,소계,합계,종사자수,소계,645060,711278.0,689623.0
4837,합계,송파구,소계,합계,종사자수,소계,263841,302517.0,312661.0
5173,합계,강동구,소계,합계,종사자수,소계,139346,143061.0,141100.0

In [26]:
worker2013.drop(worker2013.index[0], inplace = True)

In [27]:
worker2013 = worker2013[['동별(2)', '2014', '2015', '2016']]

In [28]:
worker2013.reset_index(inplace=True)

In [29]:
worker2013.drop('index', axis = 1, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_11652\3884362282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013.drop('index', axis = 1, inplace = True)

In [30]:
worker2013.rename(columns = {'동별(2)':'구'}, inplace = True)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_11652\3325361898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013.rename(columns = {'동별(2)':'구'}, inplace = True)

In [32]:
worker2013['2014'] = worker2013['2014'].astype(int)
worker2013['2015'] = worker2013['2015'].astype(int)
worker2013['2016'] = worker2013['2016'].astype(int)

C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_11652\531879036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013['2014'] = worker2013['2014'].astype(int)
C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_11652\531879036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013['2015'] = worker2013['2015'].astype(int)
C:\Users\HYUNJIN\AppData\Local\Temp\ipykernel_11652\531879036.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worker2013['2016'] = worker2013['2016'].astype(int)

In [33]:
worker2013

       구    2014    2015    2016
0    종로구  245698  269106  268309
1     중구  380407  423808  402892
2    용산구  126073  133446  129033
3    성동구  152831  162019  165047
4    광진구  117420  123689  126937
5   동대문구  137079  143858  144172
6    중랑구   99712   99241  101190
7    성북구  107496  113893  111442
8    강북구   70919   69787   69768
9    도봉구   66137   68669   70166
10   노원구  109272  114736  114999
11   은평구   84489   87693   90203
12  서대문구  102163  111615  113979
13   마포구  227966  252534  250605
14   양천구  114617  119443  117259
15   강서구  185361  199289  207406
16   구로구  197894  210506  211391
17   금천구  214128  223058  225578
18  영등포구  343943  362524  366625
19   동작구  105146  103915  108058
20   관악구  112223  119180  113781
21   서초구  390662  439963  427227
22   강남구  645060  711278  689623
23   송파구  263841  302517  312661
24   강동구  139346  143061  141100

In [34]:
worker2013.to_csv('./data/종사자수2016.csv')